
/*beerUs.html style */
h6 {
  line-height: 90%;
}
.card .card-image img {
  width: 100%;
  height: 200px;
}
.small.card{
  width: 210px;
  height: 400px;
  text-align: center;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 10px;
}

.intro {
  font-weight: bold;
  color:#388E3C;
  background-color:white;
  margin-top: 5px;
  margin-bottom: 10px;
}
.card-content {
  background-color: #388E3C;
  color: white;
  height: 110px;
}

/*About Paralax */
    .parallax-container {
      height: 450px;
    }

.joke {
  text-align: center
}

.randJoke {
  margin-bottom: 20px;
  text-align: center
}
.punLine {
  margin-bottom: 50px;
  text-align: center;
  color:  red;

}
/* Footer Padding fix */
.page-footer {
  padding-top: 0px;
}