h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

.brand-logo {
  font-family: 'Pacifico', cursive;
}

hr {
  border: none;
  border-top: 3px double #333;
  color: #333;
  overflow: visible;
  text-align: center;
  height: 5px;
}

hr:after {
  background: #fff;
  padding: 0 4px;
  position: relative;
  top: -13px;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
}

.overlay div {
  background: #282a2f;
  color: #cecdcd;
  width: 280px;
  margin: 133px 107px;
  border-radius: 4px;
  border: solid 1px black;
  padding: 5px 20px;
}


/*beerUs.html style */
h6 {
  line-height: 100%;
}

.card .card-image img {
  width: 100%;
  height: 100%
}
/* only for beerUs images */
.card .card-image.giphy img {
  width: 100%;
  height: 210px;
}

.small.card{
  width: 210px;
  height: 400px;
  text-align: center;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 10px;
}

.intro {
  font-weight: bold;
  color:#388E3C;
  background-color:white;
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 17px;
}
.favDrink {
  font-size: 17px;
}

.card-content {
  background-color: #388E3C;
  color: white;
  height: 143px;
}
.card.small .card-image {
  max-height: 100%;
}

.city {
  margin-top: 20px;
}

/* Input */
#search {
  box-shadow: 0 5px 10px rgba(0,0,0,0.3);
  padding: 12px 44px;
  box-sizing: border-box;
  width: 99%;
  margin-bottom: 30px;
}

.input-field input[type=search]+.label-icon {
  top: 12px;
}

#clearSearch {
  top: 8px;
  right: 24px;
}


/*About Paralax */
    .parallax-container {
      height: 450px;
    }

.joke {
  text-align: center
}

.randJoke {
  margin-bottom: 20px;
  text-align: center
}

.punLine {
  margin-bottom: 50px;
  text-align: center;
  color:  red;

}

/* Footer Padding fix */
.page-footer {
  padding-top: 0px;
}